body{
    margin:0;
    padding:0;
    background-color: rgb(213, 212, 211);
}
/* topo */
/* logo */
/* sair */
/* conteudo*/
/* titulo*/
/* cards tamanho */
/* botoes*/
/* cards opcoes*/
/* interruptor */
/* bola interruptor*/
/* aba inferior */
/* item aba */
/* item aba ativo*/