body{
    margin:0;
    padding:0;
    background-color:#f3f4f6;
    font-family: Arial;
}

/*topo*/
.topo{
    width:100%;
    height:80px;
    background-color: white;
    border-bottom: 1px solid #d1d5db;
}

/*simbolo robo topo*/
/*conteudo*/
/*simbolo robo cont*/
/*botoes sugestoes*/
/*barra de digitacao*/