body{
    margin:0;
    padding:0;
    background-color:#f3f4f6;
    font-family: Arial;
}

/*topo*/
.topo{
    width:100%;
    height:80px;
    background-color: white;
    border-bottom: 1px solid #d1d5db;
    display: flex;
    gap: 15px;
    justify-content:left;
    align-items: center;
    padding-left: 40px;
}


/*conteudo*/
.caixaconteudo{
    width: 62%;
    margin:auto;
    margin-top:120px;
    text-align: center;
}
/*simbolo robo topo*/
.robo{
    width: 80px;
    height: 80px;
    background-color: #dcdfe5;
    border-radius: 25px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudotexto{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
/*simbolo robo cont*/
/*botoes sugestoes*/
/*barra de digitacao*/